{{#if pacientes}}
  <table class="table table-bordered table-hover table-dark">
    <thead>
      <tr>
        <th>Identificacion</th>
        <th>Cedula</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Genero</th>
        <th>Peso</th>
        <th>Estatura</th>
        <th>Tipificacion</th>
        <th>Contacto</th>
        <th>Direccion</th>
        <th>Operations</th>
      </tr>
    </thead>

    <tbody>

      {{#each pacientes}}
        <tr>
          <td>{{@index}}</td>
          <td>{{identificacion}}</td>
          <td>{{nombre}}</td>
          <td>{{apellido}}</td>
          <td>{{genero}}</td>
          <td>{{peso}}LB</td>
          <td>{{estatura}}CM</td>
          <td>{{tipificacion}}</td>
          <td>Celular:{{telefono1}}<br>Casa:{{telefono2}}<br>{{correoelectronico}}</td>
          <td>{{direccion}}</td>
          <td>

            {{#if done}}
              <a
                href="/pacientes/{{_id}}/toggleDone"
                class="btn btn-dark mb-2"
              >Undone</a>
            {{else}}
              <a
                href="/pacientes/{{_id}}/toggleDone"
                class="btn btn-success mb-2"
              >Done</a>
            {{/if}}

            <a href="/pacientes/{{_id}}/delete" class="btn btn-danger mb-2">Delete</a>
            <a href="/pacientes/{{_id}}/edit" class="btn btn-info mb-2">Update</a>
            <a href="/pacientes/{{_id}}/historial" class="btn btn-light">Historial Clinico</a>
          </td>
        </tr>

      {{/each}}

    </tbody>
  </table>

{{else}}

  <div class="text-center text-white">
    <h1>No Hay Pacientes</h1>
    <img src="" />
  </div>

{{/if}}