<div class="container">
  <div class="row">
    <div class="col-md-5 offset-md-3">
      <div class="card card-body bg-dark p-4 text-white rounded-0">

      <h1>Actualice a un Paciente</h1>  
  <form action="/pacientes/{{pacientes._id}}/edit" method="POST">

    <div class="mb-3">
        <input
      type="text"
      name="nombre"
      placeholder="Nombre..."
      value="{{pacientes.nombre}}"
      class="form-control rounded-0 bg-dark text-white"
    />
    </div>
    
<div class="mb-3">
  <textarea
      name="tipificacion"
      rows="3"
      placeholder="Tipificacion.."
      class="form-control rounded-0 bg-dark text-white"
    >{{pacientes.tipificacion}}</textarea>
</div>

    <div class="mb-3">
        <input
      type="text"
      name="contacto"
      placeholder="Contacto..."
      value="{{pacientes.contacto}}"
      class="form-control rounded-0 bg-dark text-white"
    />
    </div>

    <div class="mb-3">
        <input
      type="text"
      name="opciones"
      placeholder="Opciones..."
      value="{{pacientes.opciones}}"
      class="form-control rounded-0 bg-dark text-white"
    />
    </div>
    

    <button class="btn btn-primary">Actualice</button>

  </form>
</div>
    </div>
  </div>
</div>